.container {
  flex: 2;
  margin-top: 60px;
  padding: 0 20px;
  max-width: 380px;
}
.subtitle {
  color: gray;
  font-size: 16px;
  font-weight: 400;
}
.title {
  font-size: 28px;
}

.writeButton {
  display: inline-block;
  margin: 12px 0 24px 0;
  padding: 8px 16px;
  background-color: #0070f3;
  color: white;
  border-radius: 6px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.writeButton:hover {
  background-color: #005bb5;
}


@media screen and (max-width: 1024px) {
  .container {
    margin-top: 32px;
    max-width: 100%;
    padding: 0;
    flex: none;
    width: 100%;
    order: 2;
  }
}
